<h3>Nuevo Usuario registrado en Club de Compras!</h3>
<br>
<p><strong>Nro. Cedula: </strong><%=	 @user.cedula %></p>
<p><strong>Nombres: </strong><%=	 @user.nombres %></p>
<p><strong>Apellidos: </strong><%=	 @user.apellidos %></p>
<p><strong>Email: </strong><%=	 @user.email %></p>
<p><strong>Celular: </strong><%=	 @user.celular %></p>
<p><strong>Fijo: </strong><%=	 @user.convencional %></p>
<p><strong>Provincia: </strong><%=	 @user.province %></p>
<p><strong>Ciudad: </strong><%=	 @user.city %></p>
<p><strong>Calle Principal: </strong><%=	 @user.calle_principal %></p>
<p><strong>Calle Secundaria </strong><%=	 @user.calle_secundaria %></p>
<p><strong>Referencia o Direccion laboral: </strong><%=	 @user.referencia %></p>