<h3>Nuevo Usuario registrado en Club de Compras!</h3>
<br>
<p><strong>Nro. Cedula: </strong><%=	 @user.cedula %></p>
<p><strong>Nombres: </strong><%=	 @user.nombres %></p>
<p><strong>Apellidos: </strong><%=	 @user.apellidos %></p>
<p><strong>Email: </strong><%=	 @user.email %></p>
<p><strong>Celular: </strong><%=	 @user.celular %></p>